certifi==2019.11.28
chardet==3.0.4
cobra==0.17.1
depinfo==1.5.3
et-xmlfile==1.0.1
future==0.18.2
idna==2.8
jdcal==1.4.1
lxml==4.6.2
mpmath==1.1.0
numpy==1.18.1
openpyxl==3.0.3
optlang==1.4.4
pandas==0.25.3
pipdeptree==0.13.2
pymatbridge==0.5.2
python-dateutil==2.8.1
python-libsbml-experimental==5.18.0
pytz==2019.3
pyzmq==18.1.1
requests==2.22.0
ruamel.yaml==0.16.6
ruamel.yaml.clib==0.2.0
six==1.14.0
swiglpk==4.65.1
sympy==1.5.1
urllib3==1.25.8
xlrd==1.2.0
zmq==0.0.0
